<c-progress-stacked>
    <c-progress [value]="15">7:30 Uhr</c-progress>
    <c-progress [value]="30" color="warning">LA_319_2701</c-progress>
    <c-progress [value]="20" color="info">LA_319_6904</c-progress>
    <c-progress [value]="35" color="danger">LA_319_6908</c-progress>
  </c-progress-stacked>
<br>
<table>
    <tr>
        <td class="centered">LZ 1.1 Ich kann ohne Hilfsmittel den Unterschied von Problemraum zu Lösungsraum erklären.</td>
    </tr>
</table>
<br>

<table>
    <tr>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>PR_319_CSharpEinstieg.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="centered">LZ 1.2 Ich kann ohne Hilfsmittel Zweck und Aufbau der Anforderungsanalyse erklären und erläutern, wie sich diese in das Testkonzept einbettet.</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>PR_319_CSharpEinstieg.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="centered">LZ 1.4 Ich kann ohne Hilfsmittel drei Gründe aufzählen, warum es sinnvoll ist, Problemraum und Lösungsraum zu trennen.</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>PR_319_CSharpEinstieg.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="centered">LZ 2.1 Ich kann ohne Hilfsmittel erklären, was ein Datentyp ist.</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>PR_319_CSharpEinstieg.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="centered">LZ 2.2 Ich kann ohne Hilfsmittel den Unterschied zwischen primitiven und komplexen Datentypen erklären.</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="controll-elements">
            <a>BL_319_6900_AdvanceOrganizer.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
        <td class="controll-elements">
            <a>PR_319_CSharpEinstieg.pptx</a>
            <div class="important-elements">
                <input type="text" class="form-control input-small" placeholder="Start Zeit">
                <input type="text" class="form-control input-small" placeholder="Deadline">
                <input type="text" class="form-control input-big" placeholder="Effektive Zeit">
                <button type="button" class="btn btn-accent btn-img">
                    <img src="./add_contact.webp" width="30px">
                </button>
                <input class="form-check-input" type="checkbox">
            </div>
        </td>
    </tr>
</table>
<br>
<textarea class="form-control"placeholder="Reflexion"></textarea>