<div class="sections">
    <div class="sides"></div>
    <div class="main">
        <h1 class="centered-text">Zuletzt besucht</h1>
        <div class="last-visited-area">
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
        </div>
        <div class="last-visited-area">
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
        </div>

        <h1 class="centered-text">Alle Kurse</h1>
        <div class="last-visited-area">
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
        </div>
        <div class="last-visited-area">
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
            <c-card class="cards">
                <img cCardImg="top" src="./header.webp">
                <c-card-body>
                  <h5 cCardTitle>Modul 319</h5>
                  <p cCardText>
                    Applikationen entwerfen und implementieren
                  </p>
                  <button cButton color="light" routerLink="/M319">Zum Kurs</button>
                </c-card-body>
            </c-card>
        </div>
    </div>
    <div class="sides"></div>
</div>